/* General Style */
* {
	margin: 0 0;
}

html {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
} 

body h2 {
	font-size: 24px;

}

main {
	margin-top: 64px;
}

/* Header */
header {
	background: red;
	display: flex;
	font-size: 18px;
	height: 64px;
	width: 100%;
	position: static;

	margin-top: 0;

}

.title {
	display: flex;
	size: 24px;

}

?
.title #logo {
	size: 50px 50px;
}

.header-text {
	margin: auto 24px;
}

nav {
	display: flex;
	padding-right: 0;
	align-items: center;
	background: yellow;

}

nav ul {
	background: blue;
	

}

nav li {
	display: inline-flex;
	
}

/* First Block */
#learn-something-new {
	background: orange;
	display: flex;
	width: 100%;
}

#practicing-image {
	padding: 32px 24px;
	width: 50%;
	height: auto;
	border: 1px solid blue;
	
}

#learn-something-new h2 {
	font-size: 50px;
}

#learn-something-new p {
	font-size: 25px;
	margin-right: 20px;
}

#learn-something-new #button {
	font-size: 25px;
	margin: 20px auto;
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	background: black;
	padding: 8px 25px;
	width: 60%;
}

.learn-paragraph {
	width: 50%;
	height: auto;
	background: red;
	margin: auto;
	margin-right: 48px;
	text-align: left;
	line-height: 5 rem;
}

/* Second Block */
.second-block {
	display: flex;
}

#practicing {
	background: yellow;
	width: 60%;
	height: auto;
}

#practicing img {
	width: 90%;
	height: auto;
	margin: 32px 24px;
}

.practicing-text {
	margin: 18px 32px 20px 24px;
	height: auto;
	background: blue;

}

.practicing-text h2 {
	margin-bottom: 12px;
	font-size: 3rem;
}

.practicing-text p {
	font-size: 16px;
	margin: 12px auto;
	padding-right: 20px;
}

#author {
	font-size: 24px;
}

/* -- */
#articles {
	background: green;
	width: 40%;
	height: auto;

}

.article {
	display: flex;
	justify-content: center;
	background: grey;
	padding: 16px;
	margin-top: 16px;
}

.article img {
	width: 35%;
	height: auto;
	display: inline-flex;
}

#article-paragraph {
	width: 65%;
	background: yellow;
	margin: auto;
	line-height: 2rem;
	margin-left: 1rem;
}

#article-paragraph h3 {
	font-size: 2rem;
}

#article-paragraph p {
	margin: 8px auto;
	font-size: 1.2rem;
}

#article-paragraph a {
	font-size: 1.2rem;
	text-decoration: none;
}

/* Third Block */
#start-learning {
	background: lightblue;
	display: flex;
}

/* Fourth Block */
#thesis-exhibit {
	background: blue;
	display: flex;
}

/* Fifth Block */
footer {
	background: violet;
	display: flex;
}