/* General Style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	
	height: 100%;
	padding: 0;
	background-color: lightcoral;
} 

body h2 {
	font-size: 24px;

}



main {
	top: 64px;
	position: relative;
	padding: 0.5px;

}

/* Header */


header {
	background: red;
	display: flex;
	font-size: 1.5rem;
	height: 64px;
	width: 100%;
	position: fixed;

	z-index: 10;
}

.title {
	display: flex;
	size: 24px;
}

?
.title img {
	height: 45px;
	width: auto;
}

.header-text {
	margin: auto 24px;
}

nav {
	margin-left: auto;
	margin-right: 16px;
	display: flex;
	padding-right: 0;
	align-items: center;
	background: yellow;
}

nav ul {
	background: blue;
}

nav li {
	display: inline-flex;
	margin: 16px;	
}

/* First Block */
#learn-something-new {
	background: orange;
	display: flex;
	width: 100%;
}

#practicing-image {
	padding: 32px 24px;
	width: 50%;
	height: auto;
	border: 1px solid blue;
	
}

#learn-something-new h2 {
	font-size: 50px;
}

#learn-something-new p {
	font-size: 25px;
	margin-right: 20px;
	margin-top: 15px;
}

#learn-something-new #button {
	font-size: 25px;
	margin: 20px auto;
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	background: black;
	padding: 8px 25px;
	width: 60%;
}
#learn-something-new #button:hover {
	color: yellow;
}

.learn-paragraph {
	width: 50%;
	height: auto;
	background: red;
	margin: auto;
	margin-right: 48px;
	text-align: left;
	line-height: 5 rem;
}

/* Second Block */
.second-block {
	display: flex;
}

#practicing {
	background: yellow;
	width: 60%;
	height: auto;
}

#practicing img {
	width: 90%;
	height: auto;
	margin: 32px 24px;
}

.practicing-text {
	margin: 18px 32px 20px 24px;
	height: auto;
	background: blue;

}

.practicing-text h2 {
	margin-bottom: 12px;
	font-size: 3rem;
}

.practicing-text p {
	font-size: 16px;
	margin: 12px auto;
	padding-right: 20px;
}

#author {
	font-size: 24px;
}

/* -- */
#articles {
	background: green;
	width: 40%;
	height: auto;

}

.article {
	display: flex;
	justify-content: center;
	background: grey;
	padding: 16px;
	margin-top: 16px;
}

.article img {
	width: 35%;
	height: auto;
	overflow: hidden;
	
}

#article-paragraph {
	width: 65%;
	background: yellow;
	margin: auto;
	line-height: 2rem;
	margin-left: 1rem;
}

#article-paragraph h3 {
	font-size: 2rem;
}

#article-paragraph p {
	margin: 8px auto;
	font-size: 1.2rem;
}

#article-paragraph a {
	font-size: 1.2rem;
	text-decoration: none;
}

/* Third Block */
#start-learning {
	background: lightblue;
	padding: 0 72px;
}

#start-learning h2 {
	background: red;
	text-align: center;
	padding: 16px;
}

#start-learning h3 {
	
	text-align: center;
	padding: 16px;
}

#start-learning p {
	
	text-align: center;
	padding: 16px;
	line-height: 1.2rem;
}

.image-container {
	background: yellow;
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: auto;
	
}

.learning-images {
	background: white;	
	width: 25%;	
	height: auto;
	margin: 32px 32px;
	margin-top: 0;
}

.image-container img {
	width: 100%;
	height: auto;
	overflow: hidden;
}

/* Fourth Block */

#thesis-title {
	margin: 32px auto;
	text-align: center;
}

#thesis-exhibit {
	background: blue;
	display: flex;
	width: 100%;
	height: auto;

}

.video-player {
	width: 60%;
	height: auto;	
	overflow: hidden;
    background: red;
    display: flex;
    flex-direction: column;
    justify-items: center;
   

}

#video-text {
	
	background: yellow;
	padding-top: 2rem;
	padding-left: 4rem;
	padding-right: 8rem;
	padding-bottom: 2rem;
}

#video-text h2 {

}

#video-text p {
	margin-top: 16px;
}

.other {
	width: 40%;
	height: auto;
	display: flex;
	background: green;
	padding-right: 16px;
	flex-direction: column;

}

.other img {
	width: 35%;
	height: auto;
	padding: 16px;
}

#Fisma {
	display: flex;
	size: 80%;
	background: blue;
}

#other-text {
	width: 65%;
	flex-flow: flex column;
	margin: auto;
	margin-right: 10px;
}

.other h3 {
	font-size: 1.8rem;
}

.other p {
	margin-top: 16px;
}

#Now-and-then {
	display: flex;
	size: 80%;
	background: violet;
}

video {
	object-position: center;
	display: block;
	width: 90%;
	padding: 24px 24px 24px 24px;
	margin: 0 auto;
	background: blue;
}

}
/* Fifth Block */
footer {
	
	background: brown;
	
	height: 10rem;
	width: 100%;
	display: flex;
	padding: 32px;
	z-index: 10;
	justify-content: space-between;
	top: 16px;
	margin-top: 32px;
}

#footer-text {
	display: inline-flex;

	margin-left: 24px;
	top: 16px;
	margin-bottom: 3rem;
	align-items: center;
	background: violet;
	width: auto;
}

footer h2 {
	background: orange;
	font-size: 15px;
}

footer p {	
	margin-right: 16px;
	margin-left: auto;
	background: blue;

}